@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService service

@{
  var result = await service.AuthorizeAsync(this.User, "ShowAdminMenu");
}
@if (result.Succeeded)
{
  <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn btn btn-outline-danger dropdown-toggle"><strong>Manage</strong></button>
  <div id="myDropdown" class="dropdown-content dropdown-menu-right">
    <a class="dropdown-item" asp-controller="DbManage" action="Index" asp-area="Database">Database</a>
    <a class="dropdown-item" asp-controller="Contact" action="Index" asp-area="Contact">Contact</a>
    <a class="dropdown-item" asp-controller="Role" action="Index" asp-area="Identity">Role</a>
    <a class="dropdown-item" asp-controller="User" action="Index" asp-area="Identity">User</a>
    <a class="dropdown-item" asp-controller="Category" action="Index" asp-area="Blog">Blog Category</a>
  </div>
  
</div>
}


<style>
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
</style>

<script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>