.footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;

    a {
        text-decoration: none !important;
        color: #a57dea;
        font-weight: 700;
        font-size: larger;
    }
}