.app-navbar {
    background: rgba(0,0,0,0.8);
    .text-dark {
      color: #e0d9dbdc !important;
      &:hover {
        color: white !important;
      }
    }

    .navbar-brand {  
      color: #a57dea !important; 
    }

    .btn-outline-danger {
      color: #a57dea;
      border-color: #a57dea;
      &:hover {
        background: #a57dea;
        color: black;
      }    
    }

    .dropdown-toggle {
      border-color: #a57dea in !important;
      color: white;
      &:active {
        border-color: aliceblue;
      }
    }
  }

  .categorySidebar {
    ul, li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: #a57dea;
      }
    }
    >ul>li>a {
      font-weight: bold;
    }
    .activeCategory {
      font-size: x-large;
      color: #a57dea;
      font-weight: 700;
    }
    h3 {
      border-bottom: 7px solid black;
      padding-bottom: 10px;
    }
  }