html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.app-navbar {
  background: rgba(0, 0, 0, 0.8);
}
.app-navbar .text-dark {
  color: rgba(224, 217, 219, 0.862745098) !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: #a57dea !important;
}
.app-navbar .btn-outline-danger {
  color: #a57dea;
  border-color: #a57dea;
}
.app-navbar .btn-outline-danger:hover {
  background: #a57dea;
  color: black;
}
.app-navbar .dropdown-toggle {
  border-color: #a57dea in !important;
  color: white;
}
.app-navbar .dropdown-toggle:active {
  border-color: aliceblue;
}

.categorySidebar ul, .categorySidebar li {
  list-style: none;
}
.categorySidebar a {
  text-decoration: none;
  color: black;
}
.categorySidebar a:hover {
  color: #a57dea;
}
.categorySidebar > ul > li > a {
  font-weight: bold;
}
.categorySidebar .activeCategory {
  font-size: x-large;
  color: #a57dea;
  font-weight: 700;
}
.categorySidebar h3 {
  border-bottom: 7px solid black;
  padding-bottom: 10px;
}

.contact-firstcol {
  background-color: #7069d7;
  color: white;
  text-align: center;
  border-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  max-width: 100%;
  height: auto;
}

.formcontact .control-label {
  font-weight: 700;
}
.formcontact .btn-primary {
  margin-top: 10px;
  background-color: #7069d7;
  font-weight: 700;
  margin-left: 45%;
}

.footer {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
}
.footer a {
  text-decoration: none !important;
  color: #a57dea;
  font-weight: 700;
  font-size: larger;
}