@using App.Models
@model List<Product> 

<h1>Product List</h1>
@foreach (var p in Model)
{
    <div class="card w-25">
        <div class="card-header">
            <div class="card-title">
                @p.Name
            </div>
            @* <strong></strong> *@
        </div>
        <div class="card-body">
            <div class="card-text">
                @p.Info
            </div>
        </div>
    </div>
}